chromadb==0.4.20
google-api-python-client==2.111.0
google-cloud-aiplatform==1.38.1
google-cloud-storage==2.14.0
gradio==4.10.0
Jinja2==3.1.2
langchain==0.0.350
Markdown==3.5.1
numpy==1.24.3
pydantic==2.5.2
pypdf==3.17.2
pytube==15.0.0
PyYaml==6.0.1
selenium==4.16.0
sentence-transformers==2.2.2
spacy==3.7.2
spotipy==2.23.0
tensorflow==2.14.0
typing-inspect==0.9.0
unstructured==0.11.4
wikipedia==1.4.0
youtube-transcript-api==0.6.1
